# Arquivos compilados e pacotes Java
*.class
*.jar
*.war
*.ear

# Arquivos compilados de C/C++
# Adicionada regra para o executável "cliente" sem extensão
cliente
*.o
*.obj
*.exe
*.out
*.app
*.a
*.so
*.dll

# Diretórios de build e saída
/build/
/bin/
/target/
/out/
/Debug/
/Release/

# Arquivos de configuração de IDEs e temporários
/.idea/
/.vscode/
*.iml
*.log
*.tmp
*.swp
*.DS_Store
*.classpath
*.project
*.settings/